@import "../variables";
@import "../mixins";

.overview-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 36px;
}

.overview-text-wrapper {
    display: flex;
    flex-direction: row;
}

.name-wrapper {
    display: flex;
    flex-direction: column;

    .name {
        display: inline-block;
        min-width: 250px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .hours {
        display: inline;
        font-size: 1.5rem;
        margin-right: 5px;
    }
    .hours-label {
        font-size: .8rem;
        display: inline;
    }
}

%icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    outline: none;

    &::after {
        @include transition(.3s);
        content: '';
        background: currentColor;
        opacity: .1;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        position: relative;
        left: 50%;

        height: 0; width: 0;
    }

    &:hover::after {
        width: 40px;
        height: 40px;
        margin-left: -23px;
        margin-top: -8px;
    }
}

.icon-wrapper {
    .edit-icon {
        @extend %icon;
        background-image: url('../../assets/edit.svg');
        color: $paragraph-color;
    }
    
    .delete-icon {
        @extend %icon;
        background-image: url('../../assets/delete.svg');
        color: $red;
        margin-left: 20px;
    }
}

.bar-wrapper {
    width: 400px;
    height: 20px;
    border: 1px solid $paragraph-color;
    display: inline-block;
    
    .bar {
        background: $accent-color;
        height: 20px;
        // the scrollbar makes there be a small gap between
        // the border and the bar (this fix was annoying to figure out) 
        margin-left: -.001vw;
    }
}