@import "../variables";

nav.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    // White color is necessary so that it
    // covers elements when scrolling over them
    background: $lighter-accent-color;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .nav-item-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .nav-item {
            text-transform: uppercase;
            color: $paragraph-color;
            text-decoration: none;
            cursor: pointer;
            font-weight: bold;
            
            &:not(:first-of-type) {
                margin-left: 50px;
            }

            &.active {
                color: $accent-color;
            }
        }
    }
}

.spacer {
    height: 120px;
}