@import "../variables";

nav.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    // White color is necessary so that it
    // covers elements when scrolling over them
    background: white;
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    h1 {
        color: $accent-color;
        font-size: 113px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .nav-item-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .nav-item {
            text-transform: uppercase;
            color: $paragraph-color;
            text-decoration: none;
            cursor: pointer;
            
            &:not(:first-of-type) {
                margin-left: 50px;
            }

            &.active {
                font-weight: bold;
                border-bottom: 4px solid $accent-color;
            }
        }
    }
}

.spacer {
    height: 250px;
}