@import "../variables";


h3 {
    color: $accent-color;
    font-size: 1rem;
}

.generate-report-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .preview-container {

        .submit-button {
            background: $accent-color;
            border: none;
            font-weight: bold;
            font-family: inherit;
            color: $lighter-accent-color;
            width: 10rem;
            align-self: flex-end;
            margin-top: 1rem;
            padding: 1rem;
            font-size: $base-font-size;
            cursor: pointer;
        }

        .submit-button::after {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('../../assets/file-download.svg');
            float: right;
            margin-left: 5px;
            margin-top: -2px;
            pointer-events: none;
        }

        th {
            color: $accent-color;
            font-weight: bold;
        }
    
        table, th, td {
            border: 1px solid $paragraph-color;
            border-collapse: collapse;
            text-align: center;
            font-size: 1.25rem;
            padding: 1rem 1.5rem 1rem 1.5rem;

            @media (max-width: 700px)  {
                padding: .5rem 1rem .5rem 1rem;
            }
        }
    }


    .export-select-container, .preview-container {
        display: flex;
        flex-direction: column;
    }

    .export-select-container {
        label {
            cursor: pointer;
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            font-size: 22px;
            /* SASS auto-prefixes `user-select` for us :) */
            user-select: none;
        }

        .export-type-radio {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }
        
        .radio-img {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
        }
    }
}